.bottonTransparent{
   -fx-background-color: transparent;
    -fx-cursor: hand;
}

.mouse-moved:hover{
    -fx-background-color: #51a5ec;
}

.barraLateral-background{
    -fx-background-color:#ADD8E6; //Light Blue
}

.mouse-movedclose:hover{
    -fx-background-color: red;
}
.mouse-movedGeneral:hover{
    -fx-background-color: Light-gray;
}

.side-bar {
    -fx-background-color:#ADD8E6;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 8 15 8 15;
}