.bg-circle{
-fx-stroke: lightgray;
-fx-stroke-width:12;
-fx-fill: transparent;
}

.bg-arc{
-fx-stroke: #2187dd;
-fx-stroke-width: 12;
-fx-fill: transparent;
}

.background-Color{
-fx-background-color: lightgray;
}

.pane-color{
-fx-background-color: white;
}

.labelTransparent{
-fx-background-color: transparent;
-fx-font-size: 16px;
-fx-text-fill: #505050;
-fx-cursor: hand;
}

.selecionado{
    -fx-background-color:#2187dd;
}

.mouse-moved:hover{
    -fx-background-color: #51a5ec;
}

.botaoTransparent{
   -fx-background-color: transparent;
       -fx-cursor: hand;

}

.topbar{
    -fx-background-color:#ADD8E6;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 8 15 8 15;
}

